<div class="row">
    <div class="col-md-2">
    </div>
    
        
 <div class="col-md-8">
     
<h2>Week {{weeklySchedule.week}} Games:</h2>
    
        <form class="form-inline" id="gameSubmissions" action="/updateScores" method="post">
            
            <div class="form-group">
                
                <label><input type="hidden" name="week" value="{{weeklySchedule.week}}"></label>
                
               <table class="table table-bordered">
                   <thead>
                    <th>Game</th>
                       <th>Game Time</th>
                       <th>Home Team</th>
                       <th>Home Team Score</th>
                       <th>Away Team</th>
                       <th>Away Team Score</th>
                       
                   </thead>
                   
                <tbody>    
                <div class="gameSchedule">
                
            <tr>
                <td><p>{{weeklySchedule.schedule.game1.homeTeam}} vs. {{weeklySchedule.schedule.game1.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game1[gameTime]" value="{{weeklySchedule.schedule.game1.gameTime}}">{{weeklySchedule.schedule.game1.gameTime}}</label> p.m. </p></td>  
                        
                <td><label><input class="answer" type="hidden" name="game1[homeTeam]" value="{{weeklySchedule.schedule.game1.homeTeam}}"> {{weeklySchedule.schedule.game1.homeTeam}}  </label>({{weeklySchedule.schedule.game1.homeSpread}})</td>
                        
                <td><input class="answer" name="game1[homeScore]" type="text" style="width:5em;"> </td>
                        
                <td><label><input class="answer" type="hidden" name="game1[awayTeam]" value="{{weeklySchedule.schedule.game1.awayTeam}}">{{weeklySchedule.schedule.game1.awayTeam}}</label> ({{weeklySchedule.schedule.game1.awaySpread}}) </td>
                        
                <td><input class="answer" name="game1[awayScore]" type="text" style="width:5em;"> </td>
            </tr>
                    
            <tr>
                <td><p>{{weeklySchedule.schedule.game2.homeTeam}} vs. {{weeklySchedule.schedule.game2.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game2[gameTime]" value="{{weeklySchedule.schedule.game2.gameTime}}">{{weeklySchedule.schedule.game2.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game2[homeTeam]" value="{{weeklySchedule.schedule.game2.homeTeam}}"> {{weeklySchedule.schedule.game2.homeTeam}}  </label>({{weeklySchedule.schedule.game2.homeSpread}})</td>
                    
                <td><input class="answer" name="game2[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game2[awayTeam]" value="{{weeklySchedule.schedule.game2.awayTeam}}">{{weeklySchedule.schedule.game2.awayTeam}}</label> ({{weeklySchedule.schedule.game2.awaySpread}}) </td>
                
                <td><input class="answer" name="game2[awayScore]" type="text" style="width:5em;"> </td>
            </tr>
            <tr>
                <td><p>{{weeklySchedule.schedule.game3.homeTeam}} vs. {{weeklySchedule.schedule.game3.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game3[gameTime]" value="{{weeklySchedule.schedule.game3.gameTime}}">{{weeklySchedule.schedule.game3.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game3[homeTeam]" value="{{weeklySchedule.schedule.game3.homeTeam}}"> {{weeklySchedule.schedule.game3.homeTeam}}  </label>({{weeklySchedule.schedule.game3.homeSpread}})</td>
                    
                <td><input class="answer" name="game3[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game3[awayTeam]" value="{{weeklySchedule.schedule.game3.awayTeam}}">{{weeklySchedule.schedule.game3.awayTeam}}</label> ({{weeklySchedule.schedule.game3.awaySpread}}) </td>
                    
                <td><input class="answer" name="game3[awayScore]" type="text" style="width:5em;"> </td>
            </tr>
            <tr>
                <td><p>{{weeklySchedule.schedule.game4.homeTeam}} vs. {{weeklySchedule.schedule.game4.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game4[gameTime]" value="{{weeklySchedule.schedule.game4.gameTime}}">{{weeklySchedule.schedule.game4.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game4[homeTeam]" value="{{weeklySchedule.schedule.game4.homeTeam}}"> {{weeklySchedule.schedule.game4.homeTeam}}  </label>({{weeklySchedule.schedule.game4.homeSpread}})</td>
                    
                <td><input class="answer" name="game4[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game4[awayTeam]" value="{{weeklySchedule.schedule.game4.awayTeam}}">{{weeklySchedule.schedule.game4.awayTeam}}</label> ({{weeklySchedule.schedule.game4.awaySpread}}) </td>
                    
                <td><input class="answer" name="game4[awayScore]" type="text" style="width:5em;"> </td>
            </tr>
            <tr>
                <td><p>{{weeklySchedule.schedule.game5.homeTeam}} vs. {{weeklySchedule.schedule.game5.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game5[gameTime]" value="{{weeklySchedule.schedule.game5.gameTime}}">{{weeklySchedule.schedule.game5.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game5[homeTeam]" value="{{weeklySchedule.schedule.game5.homeTeam}}"> {{weeklySchedule.schedule.game5.homeTeam}}  </label>({{weeklySchedule.schedule.game5.homeSpread}})</td>
                    
                <td><input class="answer" name="game5[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game5[awayTeam]" value="{{weeklySchedule.schedule.game5.awayTeam}}">{{weeklySchedule.schedule.game5.awayTeam}}</label> ({{weeklySchedule.schedule.game5.awaySpread}}) </td>
                    
                <td><input class="answer" name="game5[awayScore]" type="text" style="width:5em;"> </td>
            </tr>
            <tr>
                <td><p>{{weeklySchedule.schedule.game6.homeTeam}} vs. {{weeklySchedule.schedule.game6.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game6[gameTime]" value="{{weeklySchedule.schedule.game6.gameTime}}">{{weeklySchedule.schedule.game6.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game6[homeTeam]" value="{{weeklySchedule.schedule.game6.homeTeam}}"> {{weeklySchedule.schedule.game6.homeTeam}}  </label>({{weeklySchedule.schedule.game6.homeSpread}})</td>
                    
                <td><input class="answer" name="game6[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game6[awayTeam]" value="{{weeklySchedule.schedule.game6.awayTeam}}">{{weeklySchedule.schedule.game6.awayTeam}}</label> ({{weeklySchedule.schedule.game6.awaySpread}}) </td>
                    
                <td><input class="answer" name="game6[awayScore]" type="text" style="width:5em;"> </td>
            </tr>
            <tr>
                   <td><p>{{weeklySchedule.schedule.game7.homeTeam}} vs. {{weeklySchedule.schedule.game7.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game7[gameTime]" value="{{weeklySchedule.schedule.game7.gameTime}}">{{weeklySchedule.schedule.game7.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game7[homeTeam]" value="{{weeklySchedule.schedule.game7.homeTeam}}"> {{weeklySchedule.schedule.game7.homeTeam}}  </label>({{weeklySchedule.schedule.game7.homeSpread}})</td>
                    
                <td><input class="answer" name="game7[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game7[awayTeam]" value="{{weeklySchedule.schedule.game7.awayTeam}}">{{weeklySchedule.schedule.game7.awayTeam}}</label> ({{weeklySchedule.schedule.game7.awaySpread}}) </td>
                    
                <td><input class="answer" name="game7[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game8.homeTeam}} vs. {{weeklySchedule.schedule.game8.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game8[gameTime]" value="{{weeklySchedule.schedule.game8.gameTime}}">{{weeklySchedule.schedule.game8.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game8[homeTeam]" value="{{weeklySchedule.schedule.game8.homeTeam}}"> {{weeklySchedule.schedule.game8.homeTeam}}  </label>({{weeklySchedule.schedule.game8.homeSpread}})</td>
                    
                <td><input class="answer" name="game8[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game8[awayTeam]" value="{{weeklySchedule.schedule.game8.awayTeam}}">{{weeklySchedule.schedule.game8.awayTeam}}</label> ({{weeklySchedule.schedule.game8.awaySpread}}) </td>
                    
                <td><input class="answer" name="game8[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game9.homeTeam}} vs. {{weeklySchedule.schedule.game9.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game9[gameTime]" value="{{weeklySchedule.schedule.game9.gameTime}}">{{weeklySchedule.schedule.game9.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game9[homeTeam]" value="{{weeklySchedule.schedule.game9.homeTeam}}"> {{weeklySchedule.schedule.game9.homeTeam}}  </label>({{weeklySchedule.schedule.game9.homeSpread}})</td>
                    
                <td><input class="answer" name="game9[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game9[awayTeam]" value="{{weeklySchedule.schedule.game9.awayTeam}}">{{weeklySchedule.schedule.game9.awayTeam}}</label> ({{weeklySchedule.schedule.game9.awaySpread}}) </td>
                    
                <td><input class="answer" name="game9[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game10.homeTeam}} vs. {{weeklySchedule.schedule.game10.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game10[gameTime]" value="{{weeklySchedule.schedule.game10.gameTime}}">{{weeklySchedule.schedule.game10.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game10[homeTeam]" value="{{weeklySchedule.schedule.game10.homeTeam}}"> {{weeklySchedule.schedule.game10.homeTeam}}  </label>({{weeklySchedule.schedule.game10.homeSpread}})</td>
                    
                <td><input class="answer" name="game10[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game10[awayTeam]" value="{{weeklySchedule.schedule.game10.awayTeam}}">{{weeklySchedule.schedule.game10.awayTeam}}</label> ({{weeklySchedule.schedule.game10.awaySpread}}) </td>
                    
                <td><input class="answer" name="game10[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game11.homeTeam}} vs. {{weeklySchedule.schedule.game11.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game11[gameTime]" value="{{weeklySchedule.schedule.game11.gameTime}}">{{weeklySchedule.schedule.game11.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game11[homeTeam]" value="{{weeklySchedule.schedule.game11.homeTeam}}"> {{weeklySchedule.schedule.game11.homeTeam}}  </label>({{weeklySchedule.schedule.game11.homeSpread}})</td>
                    
                <td><input class="answer" name="game11[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game11[awayTeam]" value="{{weeklySchedule.schedule.game11.awayTeam}}">{{weeklySchedule.schedule.game11.awayTeam}}</label> ({{weeklySchedule.schedule.game11.awaySpread}}) </td>
                    
                <td><input class="answer" name="game11[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game12.homeTeam}} vs. {{weeklySchedule.schedule.game12.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game12[gameTime]" value="{{weeklySchedule.schedule.game12.gameTime}}">{{weeklySchedule.schedule.game12.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game12[homeTeam]" value="{{weeklySchedule.schedule.game12.homeTeam}}"> {{weeklySchedule.schedule.game12.homeTeam}}  </label>({{weeklySchedule.schedule.game12.homeSpread}})</td>
                    
                <td><input class="answer" name="game12[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game12[awayTeam]" value="{{weeklySchedule.schedule.game12.awayTeam}}">{{weeklySchedule.schedule.game12.awayTeam}}</label> ({{weeklySchedule.schedule.game12.awaySpread}}) </td>
                    
                <td><input class="answer" name="game12[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game13.homeTeam}} vs. {{weeklySchedule.schedule.game13.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game13[gameTime]" value="{{weeklySchedule.schedule.game13.gameTime}}">{{weeklySchedule.schedule.game13.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game13[homeTeam]" value="{{weeklySchedule.schedule.game13.homeTeam}}"> {{weeklySchedule.schedule.game13.homeTeam}}  </label>({{weeklySchedule.schedule.game13.homeSpread}})</td>
                    
                <td><input class="answer" name="game13[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game13[awayTeam]" value="{{weeklySchedule.schedule.game13.awayTeam}}">{{weeklySchedule.schedule.game13.awayTeam}}</label> ({{weeklySchedule.schedule.game13.awaySpread}}) </td>
                    
                <td><input class="answer" name="game13[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game14.homeTeam}} vs. {{weeklySchedule.schedule.game14.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game14[gameTime]" value="{{weeklySchedule.schedule.game14.gameTime}}">{{weeklySchedule.schedule.game14.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game14[homeTeam]" value="{{weeklySchedule.schedule.game14.homeTeam}}"> {{weeklySchedule.schedule.game14.homeTeam}}  </label>({{weeklySchedule.schedule.game14.homeSpread}})</td>
                    
                <td><input class="answer" name="game14[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game14[awayTeam]" value="{{weeklySchedule.schedule.game14.awayTeam}}">{{weeklySchedule.schedule.game14.awayTeam}}</label> ({{weeklySchedule.schedule.game14.awaySpread}}) </td>
                    
                <td><input class="answer" name="game14[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game15.homeTeam}} vs. {{weeklySchedule.schedule.game15.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game15[gameTime]" value="{{weeklySchedule.schedule.game15.gameTime}}">{{weeklySchedule.schedule.game15.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game15[homeTeam]" value="{{weeklySchedule.schedule.game15.homeTeam}}"> {{weeklySchedule.schedule.game15.homeTeam}}  </label>({{weeklySchedule.schedule.game15.homeSpread}})</td>
                    
                <td><input class="answer" name="game15[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game15[awayTeam]" value="{{weeklySchedule.schedule.game15.awayTeam}}">{{weeklySchedule.schedule.game15.awayTeam}}</label> ({{weeklySchedule.schedule.game15.awaySpread}}) </td>
                    
                <td><input class="answer" name="game15[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                  
                    <tr>
                
                   <td><p>{{weeklySchedule.schedule.game16.homeTeam}} vs. {{weeklySchedule.schedule.game16.awayTeam}} </p></td>
               
                <td><p><label><input class="answer" type="hidden" name="game16[gameTime]" value="{{weeklySchedule.schedule.game16.gameTime}}">{{weeklySchedule.schedule.game16.gameTime}}</label> p.m. </p></td>
                    
                <td><label><input class="answer" type="hidden" name="game16[homeTeam]" value="{{weeklySchedule.schedule.game16.homeTeam}}"> {{weeklySchedule.schedule.game16.homeTeam}}  </label>({{weeklySchedule.schedule.game16.homeSpread}})</td>
                    
                <td><input class="answer" name="game16[homeScore]" type="text" style="width:5em;"> </td>
                    
                <td><label><input class="answer" type="hidden" name="game16[awayTeam]" value="{{weeklySchedule.schedule.game16.awayTeam}}">{{weeklySchedule.schedule.game16.awayTeam}}</label> ({{weeklySchedule.schedule.game16.awaySpread}}) </td>
                    
                <td><input class="answer" name="game16[awayScore]" type="text" style="width:5em;"> </td>
                    </tr>
                    </div>
                </tbody>
                   
                   </table>
               
            </div>
            
             <button type="submit" value="submit">Save Schedule</button>
        </form>
    </div>
    <div class="col-md-2">
        
    </div>
</div>
