<div class="row">
    <div id="pick1" class="col-md-6 pickform">

        <br/>
        <form action="/entrySubmit" method="post" id="lock-count">
            <div>
                <label> <h3>Weekly Entries</h3> </label><br>
                <label name="user"> <h4>User: {{user.username}}</h4><input type="hidden" name="user" value="{{user.username}}"></label><br>
                

           
                <label>Week: </label><label>
                <input name="week" type="hidden" value="{{weeklySchedule.week}}">{{weeklySchedule.week}}
                </label>
                <table class="table">
                    <th>Game</th>
                    <th>Pick</th>
                    <th>Lock?</th>
                    <div class="btn-group" data-toggle="buttons">
                    <tbody>
                        <div>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game1.homeTeam}} 
                                <span class="spread">
                                (<span class="spreadInt">{{weeklySchedule.schedule.game1.homeSpread}}</span>)
                                </span> vs. {{weeklySchedule.schedule.game1.awayTeam}} ({{weeklySchedule.schedule.game1.awaySpread}}) </label> </td>
                            <td><select name="game1" value="game1">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game1.homeTeam}}"> {{weeklySchedule.schedule.game1.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game1.awayTeam}}"> {{weeklySchedule.schedule.game1.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game1[lock]'>
                                <input  type="checkbox" name="selections[game1[lock]"/>
                                </label>
                                </td>
                        </tr>
                            </div>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game2.homeTeam}} ({{weeklySchedule.schedule.game2.homeSpread}}) vs. {{weeklySchedule.schedule.game2.awayTeam}} ({{weeklySchedule.schedule.game2.awaySpread}}) </label> </td>
                            <td><select name="game2" value="game2">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game2.homeTeam}}"> {{weeklySchedule.schedule.game2.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game2.awayTeam}}"> {{weeklySchedule.schedule.game2.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game2[lock]'>
                                <input  type="checkbox" name="selections[game2[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game3.homeTeam}} ({{weeklySchedule.schedule.game3.homeSpread}}) vs. {{weeklySchedule.schedule.game3.awayTeam}} ({{weeklySchedule.schedule.game3.awaySpread}}) </label> </td>
                            <td><select name="game3" value="game3">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game3.homeTeam}}"> {{weeklySchedule.schedule.game3.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game3.awayTeam}}"> {{weeklySchedule.schedule.game3.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game3[lock]'>
                                <input  type="checkbox" name="selections[game3[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game4.homeTeam}} ({{weeklySchedule.schedule.game4.homeSpread}}) vs. {{weeklySchedule.schedule.game4.awayTeam}} ({{weeklySchedule.schedule.game4.awaySpread}}) </label> </td>
                            <td><select name="game4" value="game4">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game4.homeTeam}}"> {{weeklySchedule.schedule.game4.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game4.awayTeam}}"> {{weeklySchedule.schedule.game4.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game4[lock]'>
                                <input  type="checkbox" name="selections[game4[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game5.homeTeam}} ({{weeklySchedule.schedule.game5.homeSpread}}) vs. {{weeklySchedule.schedule.game5.awayTeam}} ({{weeklySchedule.schedule.game5.awaySpread}}) </label> </td>
                            <td><select name="game5" value="game5">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game5.homeTeam}}"> {{weeklySchedule.schedule.game5.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game5.awayTeam}}"> {{weeklySchedule.schedule.game5.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                              <input type='hidden' value='false' name='selections[game5[lock]'>
                                <input  type="checkbox" name="selections[game5[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game6.homeTeam}} ({{weeklySchedule.schedule.game6.homeSpread}}) vs. {{weeklySchedule.schedule.game6.awayTeam}} ({{weeklySchedule.schedule.game6.awaySpread}}) </label> </td>
                            <td><select name="game6" value="game6">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game6.homeTeam}}"> {{weeklySchedule.schedule.game6.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game6.awayTeam}}"> {{weeklySchedule.schedule.game6.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game6[lock]'>
                                <input  type="checkbox" name="selections[game6[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game7.homeTeam}} ({{weeklySchedule.schedule.game7.homeSpread}}) vs. {{weeklySchedule.schedule.game7.awayTeam}} ({{weeklySchedule.schedule.game7.awaySpread}}) </label> </td>
                            <td><select name="game7" value="game7">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game7.homeTeam}}"> {{weeklySchedule.schedule.game7.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game7.awayTeam}}"> {{weeklySchedule.schedule.game7.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game7[lock]'>
                                <input  type="checkbox" name="selections[game7[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game8.homeTeam}} ({{weeklySchedule.schedule.game8.homeSpread}}) vs. {{weeklySchedule.schedule.game8.awayTeam}} ({{weeklySchedule.schedule.game8.awaySpread}}) </label> </td>
                            <td><select name="game8" value="game8">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game8.homeTeam}}"> {{weeklySchedule.schedule.game8.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game8.awayTeam}}"> {{weeklySchedule.schedule.game8.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                               <input type='hidden' value='false' name='selections[game8[lock]'>
                                <input  type="checkbox" name="selections[game8[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game9.homeTeam}} ({{weeklySchedule.schedule.game9.homeSpread}}) vs. {{weeklySchedule.schedule.game9.awayTeam}} ({{weeklySchedule.schedule.game9.awaySpread}}) </label> </td>
                            <td><select name="game9" value="game9">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game9.homeTeam}}"> {{weeklySchedule.schedule.game9.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game9.awayTeam}}"> {{weeklySchedule.schedule.game9.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game9[lock]'>
                                <input  type="checkbox" name="selections[game9[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game10.homeTeam}} ({{weeklySchedule.schedule.game10.homeSpread}}) vs. {{weeklySchedule.schedule.game10.awayTeam}} ({{weeklySchedule.schedule.game10.awaySpread}}) </label> </td>
                            <td><select name="game10" value="game10">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game10.homeTeam}}"> {{weeklySchedule.schedule.game10.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game10.awayTeam}}"> {{weeklySchedule.schedule.game10.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                                <input type='hidden' value='false' name='selections[game10[lock]'>
                                <input  type="checkbox" name="selections[game10[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game11.homeTeam}} ({{weeklySchedule.schedule.game11.homeSpread}}) vs. {{weeklySchedule.schedule.game11.awayTeam}} ({{weeklySchedule.schedule.game11.awaySpread}}) </label> </td>
                            <td><select name="game11" value="game11">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game11.homeTeam}}"> {{weeklySchedule.schedule.game11.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game11.awayTeam}}"> {{weeklySchedule.schedule.game11.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                               <input type='hidden' value='false' name='selections[game11[lock]'>
                                <input  type="checkbox" name="selections[game11[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game12.homeTeam}} ({{weeklySchedule.schedule.game12.homeSpread}}) vs. {{weeklySchedule.schedule.game12.awayTeam}} ({{weeklySchedule.schedule.game12.awaySpread}}) </label> </td>
                            <td><select name="game12" value="game12">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game12.homeTeam}}"> {{weeklySchedule.schedule.game12.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game12.awayTeam}}"> {{weeklySchedule.schedule.game12.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                               <input type='hidden' value='false' name='selections[game12[lock]'>
                                <input  type="checkbox" name="selections[game12[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game13.homeTeam}} ({{weeklySchedule.schedule.game13.homeSpread}}) vs. {{weeklySchedule.schedule.game13.awayTeam}} ({{weeklySchedule.schedule.game13.awaySpread}}) </label> </td>
                            <td><select name="game13" value="game13">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game13.homeTeam}}"> {{weeklySchedule.schedule.game13.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game13.awayTeam}}"> {{weeklySchedule.schedule.game13.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                               <input type='hidden' value='false' name='selections[game13[lock]'>
                                <input  type="checkbox" name="selections[game13[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game14.homeTeam}} ({{weeklySchedule.schedule.game14.homeSpread}}) vs. {{weeklySchedule.schedule.game14.awayTeam}} ({{weeklySchedule.schedule.game14.awaySpread}}) </label> </td>
                            <td><select name="game14" value="game14">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game14.homeTeam}}"> {{weeklySchedule.schedule.game14.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game14.awayTeam}}"> {{weeklySchedule.schedule.game14.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                               <input type='hidden' value='false' name='selections[game14[lock]'>
                                <input  type="checkbox" name="selections[game14[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game15.homeTeam}} ({{weeklySchedule.schedule.game15.homeSpread}}) vs. {{weeklySchedule.schedule.game15.awayTeam}} ({{weeklySchedule.schedule.game15.awaySpread}}) </label> </td>
                            <td><select name="game15" value="game15">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game15.homeTeam}}"> {{weeklySchedule.schedule.game15.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game15.awayTeam}}"> {{weeklySchedule.schedule.game15.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                              <input type='hidden' value='false' name='selections[game15[lock]'>
                                <input  type="checkbox" name="selections[game15[lock]"/>
                                </label>
                                </td>
                        </tr>
                        <tr>
                            <td><label>{{weeklySchedule.schedule.game16.homeTeam}} ({{weeklySchedule.schedule.game16.homeSpread}}) vs. {{weeklySchedule.schedule.game16.awayTeam}} ({{weeklySchedule.schedule.game16.awaySpread}}) </label> </td>
                            <td><select name="game16" value="game16">
              <option value="blank">  </option>
             <option value="{{weeklySchedule.schedule.game16.homeTeam}}"> {{weeklySchedule.schedule.game16.homeTeam}} </option>
              <option value="{{weeklySchedule.schedule.game16.awayTeam}}"> {{weeklySchedule.schedule.game16.awayTeam}} </option></select>
                </td>
                            <td><label class="btn btn-default" id="lock">
                               <input type='hidden' value='false' name='selections[game16[lock]'>
                                <input  type="checkbox" name="selections[game16[lock]"/>
                                </label>
                                </td>
                        </tr>
                    </tbody>
                        </div>
                </table>
                
                <input type="submit" value="submit" />
            </div>
           
        </form>
        
    </div>
<script> 
$(document).ready(function(){
    
    var $checkboxes = $('#lock-count td input[type="checkbox"]');
        
    $checkboxes.change(function(){
        var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
        $('#locked-games').text(countCheckedCheckboxes);
        
        $('#locked-games').val(countCheckedCheckboxes);
        
        if (countCheckedCheckboxes > 1 ) {
             alert('You can select 1 lock for the week')
             //$('input[type="submit"]').attr('disabled', 'disabled');
        } 
    });
});
    
if(document.getElementById("lockBox").checked) {
    document.getElementById('lockHidden').disabled = true;
}    
</script>