
<body>
    <div class="row">
        <div class="col-md-2">
            <div class="weekdropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Week
          <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/weeklystandings/1">Week 1</a></li>
                <li><a href="/weeklystandings/2">Week 2</a></li>
                <li><a href="/weeklystandings/3">Week 3</a></li>
            </ul>
        </div>
        </div>
     
    </div>
    <div>
        <div class="table-responsive">
        <table class="table table-bordered">
            
          <thead class="gameWLines">
              <th></th>
              <th></th>
                <th>Games W Lines</th>
                {{#each nflschedule}}
                    {{#each schedule}}
                <th >{{this.awayTeam}} {{#lt this.awaySpread 0}} ({{this.awaySpread}}) {{/lt}} <br>
                {{this.homeTeam}} {{#lt this.homeSpread 0}} ({{this.homeSpread}}) {{/lt}}</th>
                {{/each}}
                {{/each}}
            </thead>
            <thead class="gameWLines">
                <th></th>
                <th></th>
                <th>Result</th>
                {{#each nflschedule}}
                    {{#each schedule}}
                <th>{{this.awayTeam}} {{this.awayScore}} <br>
                {{this.homeTeam}}  {{this.homeScore}}</th>
                {{/each}}
                {{/each}}
            </thead>
            <thead class="gameWLines">
                <th>Name</th>
                <th>Points</th>
                <th>Winner</th>
                {{#each nflschedule}}
                    {{#each schedule}}
                <th>{{this.winner}}</th>
                {{/each}}
                {{/each}}
            </thead>
<tbody>    
      {{#each entries}}
            
            <tr>
                    <td>{{this.user}}</td>
                    <td>{{this.totalPoints}}</td>
                    <td></td>
                {{#each selections}}
                    {{#each selections}}
                <td>{{#eq this.pick "blank"}} {{else}} {{this.pick}} {{/eq}}</td>
                    {{/each}}
                    {{/each}}
            </tr>

      {{/each}}
</tbody>
    </table>
</div>
</div>
    
</body>
