
<body>
    <div>
        <div class="table-responsive">
        <table class="table table-bordered">
            
          <thead class="gameWLines">
              <th></th>
              <th></th>
                <th>Games W Lines</th>
                {{#each nflschedule}}
                    {{#each schedule}}
                <th >{{this.awayTeam}} {{#lt this.awaySpread 0}} ({{this.awaySpread}}) {{/lt}} <br>
                {{this.homeTeam}} {{#lt this.homeSpread 0}} ({{this.homeSpread}}) {{/lt}}</th>
                {{/each}}
                {{/each}}
            </thead>
            <thead class="gameWLines">
                <th></th>
                <th></th>
                <th>Result</th>
                {{#each nflschedule}}
                    {{#each schedule}}
                <th>{{this.awayTeam}} {{this.awayScore}} <br>
                {{this.homeTeam}}  {{this.homeScore}}</th>
                {{/each}}
                {{/each}}
            </thead>
            <thead class="gameWLines">
                <th>Name</th>
                <th>Points</th>
                <th>Winner</th>
                {{#each nflschedule}}
                    {{#each schedule}}
                <th>{{this.winner}}</th>
                {{/each}}
                {{/each}}
            </thead>
<tbody>    
    {{entries}}
      {{#each entries}}
       
            <tr>
                 
                    <td>{{this.user}}</td>
                    <td>{{this.totalPoints}}</td>
                    {{#each selections}}
                    <td>{{this.pick}}</td>
                {{/each}}
            </tr>
        
      {{/each}}
</tbody>
    </table>
</div>
</div>
    
</body>
